.button {
  font-family: inherit;
  font-size: 18px;
  width: 110px;
  height: 40px;
  color: #850000;
  background-color: transparent;
  border: 2px solid #850000;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #a50000;
  border: 2px solid #a50000;
}
